.contenedor-about{
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-about{
    text-align: center;
    margin: 50px 0;
}

.container-text-about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-about{
    width: 50%;
    text-align: center;

}
blockquote{
    text-align: right;
    
}

@media screen and (max-width:600px){
    .text-about{
        width: 100%;
    }
}