.navPrincipal{
    z-index: 10000;
  }
    .letras {
      color: black !important;
    }
    .letras:hover {
      background-color: #68829c;
  
    }
  
    .bg-primary {
      background-color:#68829c !important;
    }
    .btn-secondary{
      background-color: #fc5185 !important;
    }
    .navbar:hover {
      background-color: #68829c;
    }
    .dropdown-default {
      background-color: #68829c;
  
    }
  
   
  
    @media (min-width:300px) and (max-width:549px) {
      .navbar  scrolling {
        background-color: #68829c !important;
        
      }
    }
    @media (min-width:550px) and (max-width:700px) {
      .navbar scrolling {
        background-color: #68829c !important;
        
      }
    }
    @media (min-width:701px) and (max-width:1199px) {
      .navbar scrolling {
        background-color: #68829c !important;
        
      }
    }
  
    @media (min-width:550px) and (max-width:700px) {
      .navbar-toggler-icon  {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
  
        
        
      }
    }
  
    @media (min-width:300px) and (max-width:549px) {
      .navbar-toggler-icon  {
        background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
        
        
      }
    }
      
  
    @media (min-width:300px) and (max-width:549px) {
      .navbar-collapse  {
        background-color: #68829c !important;
        
        
      }
    }
    @media (min-width:550px) and (max-width:700px) {
      .navbar-collapse  {
        background-color: #68829c !important;
        
        
      }
    }
    
    @media (min-width:300px) and (max-width:549px) {
      .logo  {
        height: 50px !important;
        width: 80px !important;
      }
    }
    @media(min-width: 550px) and (max-width:700px) {
      .logo {
        height: 60px;
      width: 90px;
  
      }
    }
    @media(min-width: 701px) and (max-width:1199px) {
      .logo {
        height: 80px !important;
        width: 130px !important;
        margin: 0;
      }
    }
    .logo {
      height: 80px ;
      width: 130px ;
      
    }
    
   
  