.footer-body{
    box-shadow: 0 0 20px 0 rgba(98, 50, 98, 0.6);
    font-family: 'Poetsen One';
    font-size: 1rem;
}

.link-footer{
    text-decoration: none !important;
    color: #623262;
}
.link-footer:hover{
    color: #f1b634;
}

.footer-icon{
    font-size: 2rem;
    margin-bottom: 10px;
}

.footer-copyright{
    border-top: 1px solid #623262 !important;
}