/*IMPORTAR TIPOGRAFIA*/
@font-face{
    font-family: "Homework";
    src: url("../../Fonts/FontsFree-Net-Homework.ttf");
}
@font-face{
    font-family: "Poetsen One";
    src: url(../../Fonts/PoetsenOne-Regular.ttf);
}

.seccion-principal{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFB71C;
    /* background: lightblue; */
    /* background: url('../../assets/img//PORTADA_Mesa-de-trabajo.jpg')no-repeat center center;
    background-size: cover; */
}

.seccion-logo{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-seccion-principal{
    height: 600px;
    width: 700px;
}

/*GALERIA DE IMAGENES CON OVERLAY*/

.galeria .titulo-producto{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}
.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin:10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: contain;
}


.overlay3{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}



.overlay3 .button{
    text-decoration: none;
    background: #fff;
    border:none;
    border-radius: 3px;
    padding: 5px;
    color: #000;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    font-family: 'Homework';
}

.overlay3 .button:hover{
    color: #623262;
    background: #f1b634;
    
}

.overlay3 h4{
    color: #fff;
    font-weight: 600;
    font-size:30px;
    position: absolute;
    top: 30%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Poetsen One';
}

.imagen:hover .overlay3{
    height:100%;
    cursor: pointer;
}


@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
    .seccion-principal{
        flex-direction: column;
    }
    .seccion-logo{
        width: 100%;
    }
}

@media screen and (max-width:450px){
    .titulo-producto{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
    .seccion-principal{
        flex-direction: column;
    }
    .seccion-logo{
        width: 100%;
        margin-top: 50px;
    }
}